@using Store.Models
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["Page"] = "Table";
}

<body>
    <header class="main-header">
        <h1>Balkan Möbler!</h1>
    </header>
    <nav class="navbar">
        <div class="navtainer">
            <ul>
                <li><a href="~/Home/Index">Hem</a></li>
                <li><a href="~/Login/Index">Varukorg</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <section id="main">
            <h2>Sängar</h2>
            <p>Här kan du hitta de bästa borden från Balkan! Vi har bord utav träd OCH stål! Bättre bord hittar du inte.</p>
            <div class="grid-container">

                @foreach (var fur in Furniture.GetData()) //Explained in Bed
                {
                    if (fur is Furniture.Table)
                    {
                        <div class="furnature-display">
                            <img src="@(((Furniture.Table)fur).Img)" /><h4> @(((Furniture.Table)fur).Name)</h4><h5>Material: @(((Furniture.Table)fur).Material)</h5><h5>Info: @(((Furniture.Table)fur).Info)</h5>

                            @if (Session["UserId"] != null)
                            {
                                <a class="link" onclick="alert('Varan har lagts till Varukorgen!')" href="../../Login/Buy?id=@fur.Id&Page=@TempData["Page"]">Pris: @(((Furniture.Table)fur).Price) sek</a>
                            }
                            else
                            {
                                <a class="link" href="~/Login/Index/">Logga in först!</a>
                            }

                        </div>
                    }
                }
            </div>
        </section>
        <aside id="sidebar">
            <div id="sidetainer">
                <ul>
                    <li><a href="~/Home/Bed">Sängar</a></li>
                    <li><a href="~/Home/Sofa">Soffor</a></li>
                    <li><a href="~/Home/Table">Bord</a></li>
                </ul>
            </div>
        </aside>
    </div>
    <footer class="main-footer">Copyright &copy; 2019 Edgar Palic</footer>
</body>

